on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: '1.21.x'

      - run: |
          go mod tidy

      - run: |
          env GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o portfwd -ldflags="-s -w" -trimpath main.go
          tar zcvf portfwd-${{ github.ref_name }}-linux-amd64.tar.gz portfwd

      - run: |
          env GOOS=darwin GOARCH=amd64 CGO_ENABLED=0 go build -o portfwd -ldflags="-s -w" -trimpath main.go
          tar zcvf portfwd-${{ github.ref_name }}-macos-amd64.tar.gz portfwd

      - run: |
          env GOOS=darwin GOARCH=arm64 CGO_ENABLED=0 go build -o portfwd -ldflags="-s -w" -trimpath main.go
          tar zcvf portfwd-${{ github.ref_name }}-macos-arm64.tar.gz portfwd

      - run: |
          env GOOS=windows GOARCH=amd64 CGO_ENABLED=0 go build -o portfwd.exe -ldflags="-s -w" -trimpath main.go
          zip portfwd-${{ github.ref_name }}-windows-x86_64.zip portfwd.exe

      - uses: softprops/action-gh-release@v2
        with:
          name: PortFwd ${{ github.ref_name }}
          body: '[CHANGELOG](CHANGELOG.md)'
          files: |
            portfwd-${{ github.ref_name }}-linux-amd64.tar.gz
            portfwd-${{ github.ref_name }}-macos-amd64.tar.gz
            portfwd-${{ github.ref_name }}-macos-arm64.tar.gz
            portfwd-${{ github.ref_name }}-windows-x86_64.zip
